body {
  padding-top: 40px;
	background-color: #000000;
  overflow: hidden;
}

p {
	font-family: 'Exo 2', sans-serif;
	  color: #ccc;
  font-size: 16px;
line-height: 22px;
  text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
}
.grid {
	z-index: 1;
  top: -30pc;
  bottom: -30pc;
  left: -30pc;
  right: -30pc;
  position: absolute;
  background-color: #000000;
  background-image: -webkit-linear-gradient(#666666 1px, transparent 2px), -webkit-linear-gradient(left, #666666 1px, transparent 2px);
  background-image: linear-gradient(#666666 1px, transparent 2px), linear-gradient(90deg, #666666 1px, transparent 2px);
  background-size: 3% 3%, 3% 3%;
  background-position: 0 0, 0 0;
  -webkit-transform: perspective(20pc) rotateX(80deg);
          transform: perspective(20pc) rotateX(80deg);
  -webkit-animation: throughSpace 2s linear;
          animation: throughSpace 2s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.eightys-text {
  color: #ccc;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
  text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
}

.eightys-subtitle {
  color: #e7e7e7;
  font-family: 'Audiowide', cursive;
  font-size: 15px;
  text-align: center;
  margin: auto;
  text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
}

.eightys-paragraph {	
	z-index: 1000;
	position: relative;
  color: #666;
	margin-top: 30px;
  background-color: rgba(0,0,0,0.5);
  padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
  border-style: solid;
  border-width: 1px;
}

label {
  font-family: 'Audiowide', cursive;
  color: #FF0092;
  text-shadow: 0 0 12px rgba(186, 1, 255, 0.8);
}

input:checked ~ .grid {
  background-color: #313640;
}

@-webkit-keyframes throughSpace {
  0% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(0%);
            transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(5.8%);
            transform: perspective(300px) rotateX(80deg) translateY(5.8%);
  }
}

@keyframes throughSpace {
  0% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(0%);
            transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    -webkit-transform: perspective(300px) rotateX(80deg) translateY(5.8%);
            transform: perspective(300px) rotateX(80deg) translateY(5.8%);
  }
}
